body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header.fixed-top {
  height: 3rem;
  background: rgba(0, 0, 0, 0.5);
}

header h1 {
  font-size: 2rem;
}

.logo {
  max-height: 4rem;
  color: red;
}

.container.d-flex {
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 576px) {
    max-width: 540px;
  }
}

nav {
  font-size: 1.6rem;
  margin-left: 2rem;
  margin-top: -0.5rem;
}

.carousel-item > img {
  height: 100vh;
}

.carousel-caption > h2 {
  color: #007bff;
  font-weight: bolder;
  font-size: 5rem;
}
.carousel-caption > p {
  color: red;
  font-weight: bolder;
  font-size: 1.3rem;
}

#wrapper-sidebar {
  margin-top: 4rem;
  max-width: 15rem;
  height: 100vh;
}

#sidebar-wrapper {
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  /* height: 100vh; */
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

#content-right {
  margin-top: 5rem;
  width: 100vw;
}

#content-right h1 {
  color: #007bff;
  font-style: italic;
}

div#root > main {
  display: flex;
}

div.school-list {
  margin-top: 5rem;
}

ul.school-cards,
ul li {
  list-style: none;
}

ul li {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: left;
}

div.card.mb-3 {
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 6px 6px 13px 2px #000000;
  box-shadow: 6px 6px 13px 2px #000000;
}

.card-body {
  font-size: 1.1rem;
  background: rgba(255, 255, 255, 0.1);
}

#loading {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}

.card-title > a {
  font-size: 2rem;
  font-weight: bolder;
  font-style: italic;
}

#school-title,
#content-right h2 {
  color: red;
}

.active-btn {
  font-weight: bolder;
}

.bg-dark.text-warning {
  margin: 0 auto;
}

.card-img-top {
  height: 50vh;
  object-fit: cover;
}
